$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 1199)";
$minLarge: "(min-width:1200px)";
$redColor: #e2494c;
$greyColor: #cecece;
$textColor: #777;
$headColor: #4D4D4D;
$float-left: left;
$float-right: right;