/*Start Slider*/
.slider {
    padding: 40px 0 0;
    blockquote {
        @media #{$maxMobile} {
            font-size: 17px;
        }
        font: {
            size: 18px;
            weight: 500;
            style: italic;
        }
        color: $headColor;
        line-height: 1.7;
        width: 70%;
        margin: 0 auto 40px;
        text-align: center;
        i {
            font-size: 9px;
        }
    }
    .slide {   
           img {
                width: 100%;
            } 
        
       .bullets {
            text-align: center;
            margin-top: 16px;
            li {
                display: inline-block;
                width: 11px;
                height: 11px;
                background-color: $greyColor;
                border-radius: 50%;
                border: 3px solid $greyColor;
                cursor: pointer;
                @include transition(all 0.4s ease-in-out);
                &.active,
                &:hover
                {
                   border-color: $headColor;
                   background-color: #fff;
                }
            }
        }
    }
    
}
/*End Slider*/

/*Start Services*/
.services {
    .services-content {
        @media #{$maxSmall} {
            display: block;
        }
       .service {
           &:not(:last-of-type) {
               padding-right: 20px;
           }
            @media #{$maxMobile} {
                margin-bottom: 20px;
                h3 {
                    i {
                       display: block;
                       margin-right: 0;
                       margin-bottom: 20px;
                    }
                }

            }
            h3 {
                color: $headColor;
                i {
                    font-size: 33px;
                    position: relative;
                    top: 4px;
                    margin-right: 8px;
                }
            }
            p {
                color: $textColor;
                line-height: 1.7;
                font-size: 15px;
            }
            a {
                color: $redColor;
                text-decoration: none;
                font-size: 15px;
            }
        } 
    } 
    
}
/*End Services*/
/*Start Our players*/
.players {
    .player-content {
         flex-wrap: wrap;
        @media #{$maxMobile} {
            display: block;
        }
        .player {
            padding: 0 10px;
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @media #{$minSmall} {
                flex-basis: (100% / 2);
                text-align: center;
            }
            @media #{$minMedium} {
                flex-basis: (100% / 3);
                text-align: left;
            }
            @media #{$minLarge} {
                flex-basis: (100% / 5);
                margin-bottom: 0;
                
            }
            img {
                max-width: 100%;
            }
            h3 {
                font-weight: 100;
                color: $textColor;
                font-size: 16px;
                span {
                    font-weight: bold;
                }
            }
            p {
                color: $textColor;
                line-height: 1.7;
                font-size: 15px;
            }
            a {
               color: $redColor;
               text-decoration: none;
               font-size: 15px; 
            }
        }
    }
}
/*End Our players*/
/*Start Lorem*/
.lorem-ipsum {
    margin-bottom: 40px;
    .lorem-content {
        .lorem-image {
            flex-basis: (100% / 3);
            &:nth-of-type(2) {
                margin-right: 3%;
                margin-left: 3%;
            }
            img {
                width: 100%;
            }
    }
    }
    
}
/*End Lorem*/